/* Font Families:
font-family: 'Cookie', cursive;
font-family: 'Roboto', sans-serif;

*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    flex-shrink: 0;
    display: inline-flex;
}

.logo {
    font-family: 'Cookie', cursive;
    font-size: 32px;
}


#paw {
   height: 50px;
   vertical-align: middle;
}
