/* Font Families:
font-family: 'Cookie', cursive;
font-family: 'Roboto', sans-serif;

*/

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    
}

/* Header Style */
.header {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px -2px gray;
    padding: 10px;
    font-size: 10px;
    color: #262626;
    background-color: #FFFFFF;
}


#logo {
    font-family: 'Cookie', cursive;
    font-size: 36px;
    margin: 10px;
    margin-right: 40px;
}

#paw {
   height: 40px;
}

.emptyDiv {
    border: 1px solid black;
}

.headerSearch {
    padding: 10px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    background-color: #FAFAFA;
    color: #A5A7AA;
    width: 300px;
}


/* Main Content Style*/

.content {
    display: flex;
    padding: 50px;
}


.resultscontainer {
    position: relative;
}
.card {
    object-fit: cover;
    height: 300px;
    width: 300px;
    border: 1px solid #DBDBDB;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

  .resultscontainer:hover .card {
    opacity: 0.3;
  }
  
  .resultscontainer:hover .middle {
    opacity: 1;
  }
  
  .cardname {
    color: black;
    font-size: 20px;
    padding: 16px 32px;
  }